= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)

.row.mt-5
  .col
    = render 'courses/course', course: @course
  .col
    = link_to 'Add lesson', new_lesson_path(course_id: @course.id)

    - @lessons.each do |lesson|
      = render 'lessons/lesson', lesson: lesson
